{
 :paths
 [
  "src"
 ]

 :deps
 {
  base64-clj {:mvn/version "0.1.1"}
  cljfmt {:mvn/version "0.6.4"}
  rewrite-cljc {:git/url "https://github.com/lread/rewrite-cljc-playground.git"
                :sha "81a28d11e9a0bb9136dde4f91a680d1b2fd8dd4d"}
  zprint {:mvn/version "0.4.15"}
 }
}
