{
 :paths
 [
  "src"
 ]

 :deps
 {
  base64-clj/base64-clj {:mvn/version "0.1.1"}
  cljfmt/cljfmt {:mvn/version "0.6.4"}
  rewrite-cljc/rewrite-cljc
  {:git/url "https://github.com/lread/rewrite-cljc-playground.git"
   :sha "a5a5a8480f8158221fd603537cda51debdd6df00"}
  zprint/zprint {:mvn/version "1.0.1"}
 }
}
