{
 :paths
 [
  "src"
 ]

 :deps
 {
  base64-clj {:mvn/version "0.1.1"}
  cljfmt {:mvn/version "0.6.4"}
  rewrite-clj {:git/url "https://github.com/sogaiu/rewrite-clj.git"
               :sha "3bf6023adf43338e3c8437ca78d859dca7d68ec0"}
  zprint {:mvn/version "0.4.15"}
 }
}
